@font-face {
  font-family: 'Vazir';
  src: url("../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2"),
    url("../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2");
}

body {
  font-family: "Vazir";
  background-image: url('../images/back1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  background-color: rgba(16, 1, 82, 0.8);
  padding: 50px 30px;
  width: 70%;
}

.brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.timer {
  border: 1px dashed rgb(4, 201, 151);
  border-radius: 20px;
  padding: 30px 0;
}

.timer-section {
  border: 3px solid #fff;
  padding: 80px;
  width: 100px;
  height: 100px;
}
.contact-us ul li{
  width: 50px;
  height: 50px;
}
.contact-us ul li a i {
  color: rgb(255, 255, 255);
  font-size: 60px;
  border: 1px dashed white;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 100vh;
  }
}